<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <title>SignIn Page</title>
</head>

<body>

  <%- include('partials/nav') %>

    <div class="container">
      <form action="/user/signin" method="post">

        <div class="mb-3 mt-4 ">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email">

        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include('partials/scripts') %>
</body>

</html>